.search__search-button-group {
    margin-top: 30px;
}

.search-button-group__title,
.search-button-group__genre {
    margin-left: 20px;
}

.search-button-group__title_active,
.search-button-group__genre_active {
    background-color: brown;
}

.search-button-group__title_non-active,
.search-button-group__genre_non-active {
    background-color: grey;
}