.film-item {
    width: 185px;
    height: auto;
    font-weight: bold;
    margin: 0 5px 30px 5px;
    font-size: 14px;
    background-color: rgb(57, 58, 57);
    padding: 10px;
}

.film-item p {
    margin: 0px;
}

.film-info {
    margin-top: 5px;
}

.logo-container {
    height: 220px;
}

.film-item:hover {
    cursor: pointer;
    background-color: rgb(38, 39, 38);
}

.year {
    border: 1px groove black;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

.genre {
    font-size: 12px;
}